img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.usercard {
    border: 1px solid;
    width: 300px;
}

.usercard_name {
    text-align: center;
    font-family: cursive;
}

.usercard-container {
    display: flex;
    gap: 10px;
}
