* {
    margin: 0;
}

.usercard {
    border: 1px solid;
    width: 300px;
}

.usercard_name {
    text-align: center;
    font-family: cursive;
}

.usercard-container {
    display: flex;
    gap: 10px;
}

.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    text-align: center;
}

.countries>div {
    max-width: 300px;
}



.modal_window {
    position: absolute;
    inset: 0;
    background-color: white;
}

.modal_window>.button_container {
    background-color: teal;
    text-align: right;
}

.modal_window button {
    border: 0;
    color: white;
    font-size: 32px;
    background-color: transparent;
}

.modal_window button:hover {
    background-color: red;
    cursor: pointer;
}
